body{
    font-family: Arial, sans-serif;
    color: #434403;
    background-color: #191919;
    margin: 0;
    padding: 0;
    line-height: 1.6;

}

header {
    background-color: #000701;

    color: white;

    padding: 20px;

    text-align: center;
}

header h1 {
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

main {
    padding:20px;

    max-width: 800px;

    margin: 0 auto;
}

main img {

    max-width: 50%;

    height: fit-content;

    display: block;

    margin: 20px 0;
}

footer {

    background-color: #333;

    color: white;

    text-align: center;

    padding: 10px;

    position: fixed;

    bottom: 0;
}

p {

    font-size: 1.1em;
}

a {

    color: #4caf50;

    text-decoration: none;

}

a:hover {

    text-decoration: underline;
}

img {

    border: 5px solid #4caf50;

    border-radius: 10px;

}

main a[href="mailto:"] {

    color: #ff5722;

    font-weight: bold;

}


.VS {

    background-color: rgb(184, 17, 17);
    color: white;
}

.Images {


    border: 5px;
    image-resolution: initial;
}